.main-footer {
  color: white;
  background-color: rgb(26, 23, 23);
  padding-top: 3em;
  position: relative;
  align-items: center;
  bottom: 0;
  width: 100%;
}

#copyright {
  font-family: "Courier New", Courier, monospace;
  align-content: center;
  text-align: center;
}

.nav_links {
  display: flex;
  list-style-type: decimal-leading-zero;
  text-align: justify;
  margin: 0;
  padding: 0;
}

img {
  float: left;
}

.list-unstyled {
  text-align: left;
  padding-top: 2rem;
  margin-top: 1rem;
}

.col {
  text-align: center;
  font-size: 15px;
  padding: 0x;
  padding-right: 2rem;
}
